.bg-gray{
    background-color: pink;
}

.text-pink{
    color: pink;
}

.btn-rejavai{
    background-color: pink;
    border: 1px solid pink;
    padding: 5px 10px;
    border-radius: 10px;
}

.image-hover{
    filter: grayscale(100%);
}

.image-hover:hover{
    filter: grayscale(0%);
    transform: scale(1.1);
    transition: 1s ease;
}
