.up{
    animation: up 2s ease;
    position: absolute;
}

@keyframes up{
    0%{
        transform: translateY(-100px);
    }
    100%{
        transform: translateY(0px);
    }
}


.left{
    animation: left 2s ease;
    position: absolute;
}

@keyframes left{
    0%{
        transform: translateX(-100px);
    }
    100%{
        transform: translateX(0px);
    }
}

.zoom:hover{
    animation: zoom 1s ease-in-out;
}

@keyframes zoom{
    0%{
        transform: scale(1);
    }

    100%{
        transform: scale(1.5);
    }
}