.up{
    animation: up 2s ease;
    position: absolute;
    transition: 1s ease;
}

@keyframes up{
    0%{
        transform: translateY(-100px);
    }
    100%{
        transform: translateY(0px);
    }
}

.hoverUp:hover{
    transform: translateY(-3px);
    transition: 1s ease;
}